body {
  background-color: #ffffff;
  color: #343a40;
  font-family: Arial, sans-serif;
  background-image: url(imagenes/fondo\ pagina\ web.jpg);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

p {
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  color: #ffffff;
}

ul {
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
  color: #ffffff;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.navbar {
  margin-bottom: 20px;
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.footer-link img {
  width: 60px; 
  height: auto; 
  display: inline-block; 
  margin-right: 10px; 
}

.footer-link {
  text-align: center; 
}


a {
  font-size: 15px;
  width: 100%;
}
