body {
    background-color:blueviolet;
    background-size: cover;
    color: cornsilk;
  }
  
  header {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 45px;
  }
  
  h2 {
    color: rgb(0, 0, 0);
  }
  
  p {
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  